body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: black;
}

h1 {
  color: yellow;
}

h2 {
  color: yellow;
}

#game-area {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  border: 2px solid #333;
  background-color: #f0f0f0;
  cursor: pointer;
}

p#result {
  margin-top: 20px;
  font-weight: bold;
  color: yellow;
  display: none;
}

img {
  width: 340px;
  height: 280px;
  margin: 20px auto;
}

li {
  color: yellow;
}

a {
  color: blue;
}
